<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>TypeName</key>
		<string>无</string>
		<key>Type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>TypeName</key>
		<string>蓝牙</string>
		<key>Type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>TypeName</key>
		<string>日历</string>
		<key>Type</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>TypeName</key>
		<string>相机</string>
		<key>Type</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>TypeName</key>
		<string>通讯录</string>
		<key>Type</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>TypeName</key>
		<string>FaceID</string>
		<key>Type</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>TypeName</key>
		<string>健康数据分享</string>
		<key>Type</key>
		<integer>6</integer>
	</dict>
	<dict>
		<key>TypeName</key>
		<string>健康数据更新</string>
		<key>Type</key>
		<integer>7</integer>
	</dict>
	<dict>
		<key>TypeName</key>
		<string>HomeKit</string>
		<key>Type</key>
		<integer>8</integer>
	</dict>
	<dict>
		<key>TypeName</key>
		<string>定位服务始终开启</string>
		<key>Type</key>
		<integer>9</integer>
	</dict>
	<dict>
		<key>TypeName</key>
		<string>定位服务</string>
		<key>Type</key>
		<integer>10</integer>
	</dict>
	<dict>
		<key>TypeName</key>
		<string>当使用时开启定位</string>
		<key>Type</key>
		<integer>11</integer>
	</dict>
	<dict>
		<key>TypeName</key>
		<string>播放音乐或者视频</string>
		<key>Type</key>
		<integer>12</integer>
	</dict>
	<dict>
		<key>TypeName</key>
		<string>麦克风</string>
		<key>Type</key>
		<integer>13</integer>
	</dict>
	<dict>
		<key>TypeName</key>
		<string>运动与健身</string>
		<key>Type</key>
		<integer>14</integer>
	</dict>
	<dict>
		<key>TypeName</key>
		<string>音乐</string>
		<key>Type</key>
		<integer>15</integer>
	</dict>
	<dict>
		<key>TypeName</key>
		<string>NFC</string>
		<key>Type</key>
		<integer>16</integer>
	</dict>
	<dict>
		<key>TypeName</key>
		<string>照片</string>
		<key>Type</key>
		<integer>17</integer>
	</dict>
	<dict>
		<key>TypeName</key>
		<string>提醒事项</string>
		<key>Type</key>
		<integer>18</integer>
	</dict>
	<dict>
		<key>TypeName</key>
		<string>Siri</string>
		<key>Type</key>
		<integer>19</integer>
	</dict>
	<dict>
		<key>TypeName</key>
		<string>语音识别</string>
		<key>Type</key>
		<integer>20</integer>
	</dict>
	<dict>
		<key>TypeName</key>
		<string>电视提供商</string>
		<key>Type</key>
		<integer>21</integer>
	</dict>
	<dict>
		<key>TypeName</key>
		<string>媒体与Apple Music</string>
		<key>Type</key>
		<integer>22</integer>
	</dict>
</array>
</plist>
